node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
package-lock.json
*.log
*.tsbuildinfo

*.tsbuildinfo

build/
dist/

/.electron/
electron/

.vscode/

.idea/

.DS_Store

*.log

Thumbs.db
ehthumbs.db

coverage/
spec/.hash
spec/fixtures/native-addon/echo/build/

tailwind.config.js
postcss.config.js

/.sqlite/
*.db
*.sqlite3
*.sqlite

/dist/
/build/

.env
.envrc
*.env

*.swp
*.sln
*.xcodeproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.VC.opendb

dist/
*.asar
*.dmg
*.exe
*.deb
*.tar.gz

coverage/

.eslintcache*

tags*

*.sh
*.bak